@model Consolidados.Web.Models.CompraDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompraDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compra.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compra.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.NombreEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lote.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lote.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCompraDetalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
