@model IEnumerable<Consolidados.Web.Models.ContratoContenedor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NroContenedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.NroContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NroContenedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.NroContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdContratoContenedor }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdContratoContenedor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdContratoContenedor })
        </td>
    </tr>
}

</table>
