@model IEnumerable<Consolidados.Web.Models.Lote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroLote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacen.NombreAlmacen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.NroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.NombreEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroLote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almacen.NombreAlmacen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.NroDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLote }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLote }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLote })
        </td>
    </tr>
}

</table>
